# /application
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
application/node_modules
application/.pnp
application/.pnp.*
application/.yarn/*
application/!.yarn/patches
application/!.yarn/plugins
application/!.yarn/releases
application/!.yarn/versions

# testing
application/coverage

# next.js
application/.next/
application/out/

# production
application/build

# misc
application/.DS_Store
application/*.pem

# debug
application/npm-debug.log*
application/yarn-debug.log*
application/yarn-error.log*

# env files (can opt-in for committing if needed)
application/.env*

# vercel
application/.vercel

# typescript
application/*.tsbuildinfo
application/next-env.d.ts

# /smartcontract
# Compiler files
smartcontract/cache/
smartcontract/out/

# Ignores development broadcast logs
smartcontract/!/broadcast
smartcontract/broadcast/*/31337/
smartcontract/broadcast/**/dry-run/

# Docs
smartcontract/docs/

# Dotenv file
smartcontract/.env
